{% extends 'employees/base.html' %}

{% block title %}Детали {{ employee.name }}{% endblock %}

{% block content %}
<h1>{{ employee.name }}</h1>
<p>Баланс: <span class="balance">{{ employee.get_balance }} ₽</span></p>
<h2>История транзакций</h2>
<table>
    <tr>
        <th>Дата</th>
        <th>Сумма</th>
        <th>Описание</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.date_time }}</td>
        <td>{{ transaction.amount }} ₽</td>
        <td>{{ transaction.description }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'employee_list' %}">Вернуться к списку</a>
{% endblock %}